#!/bin/sh

if [[ $(type exa 2> /dev/null) ]]; then
  alias ls="exa --color-scale -s Name"
else
  unalias ls 2>/dev/null
fi
alias la="ls -a"
alias ll="ls -l -a -g --git"
alias l="ls"
alias tree="ls -T"
alias cd-="cd -"
alias cd..="cd .."
alias grep="grep --color"
alias reboot="shutdown -r now"
alias poweroff="sudo poweroff"
alias off="shutdown -h now"
alias halt="sudo halt"
alias lock="~/configs/scipts/lock.sh"
alias cl="clear ; . ~/.zshrc"
if [[ $(type sl 2> /dev/null) ]]; then
  alias sl="sl -ac"
else
  alias sl="ls"
fi
alias starwars="telnet towel.blinkenlights.nl"
alias mntwindows="sudo mount -t ntfs /dev/sda4 /mnt/windows"
alias st="git status -s"
alias add="git add"
alias cmt="git commit"
alias psh="git push"
alias pll="git pull --rebase"
alias brch="git branch"
alias chkt="git checkout"
alias rbs="git rebase"
alias gdb="gdb -q"
alias lg="git log --pretty=format:'%C(bold yellow)%h%Creset -%C(bold red)%d%Creset %s %C(bold blue)<%an> %Creset%Cgreen(%ci)%Creset%n' --abbrev-commit --graph"
alias cdcl="cd ; cl"
alias zathura="zathura --fork"
alias py="python"
