.vim/.netrwhist
.weechat/logs/
.weechat/logs/*
*.weechatlog
.weechat/weechat.log
.weechat/queryman.txt
.weechat/irc.conf
*.log
.vim/bundle/YouCompleteMe/*
.vim/bundle/YouCompleteMe/
*.swp
.weechat/script/plugins.xml.gz

