Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*utf8: always
*foreground:  #C0C0C0
*background:  #272827
*transparent:  true
*shading:  16
*tintColor: #DDDDFF
*blurRadius:  16
*scrollBar:  false
*mouseWheelScrollPage: false
*saveLines: 5000

*customization:  -color
xterm*termName:  xterm-256color
urxvt*termName:  rxvt-unicode-256color

xterm*faceName: Lucida Console
xterm*faceSize: 10

urxvt*font:   xft:DejaVu Sans Mono:size=12, xft:Monospace:size=10, xft:Courier New:size=12
urxvt*boldFont:   xft:DejaVu Sans Mono:bold:size=12, xft:Monospace:bold:size=10, xft:Courier New:bold:size=12

urxvt*depth: 32
urxvt*background: [80]#000000


! red
urxvt.color1: #cc2c2c
urxvt.color9: #ff5f5f
! green
urxvt.color2: #54cc2c
urxvt.color10: #87ff5f
! yellow
urxvt.color3: #cccc2c
urxvt.color11: #ffff5f
! blue
urxvt*color4:  #3a3add
urxvt*color12:  #5c5cff
! magenta
urxvt.color5: #cc00a4
urxvt.color13: #ff00d7
! cyan
urxvt.color6: #00a4cc
urxvt.color14: #00d7ff

urxvt*keysym.Home:  \033[1~
urxvt*keysym.End:  \033[4~
urxvt*keysym.Alt-Escape:  perl:keyboard-select:activate

urxvt*perl-ext-common:   default,clipboard,keyboard-select
urxvt*keysym.Alt-v:  perl:clipboard:paste
urxvt*keysym.Alt-c:  perl:clipboard:paste

urxvt.perl-ext-common: ...,font-size

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
